/* Footer Customized CSS  */

.footer-parent-div {
    position: relative;
    min-height: 100vh;
}

.footer-section {
    /* margin-top: -300px; */
    position: absolute;
    bottom: 0;
    width: 100%;

}

.footer-terms-and-condition {
    text-decoration: none;
    color: white;
}

.footer-email,
.forter-mobile {
    margin-top: -14px;
}

.last-div {
    background-color: rgba(0, 0, 0, 0.2)
}

.my-name {
    text-decoration: none;
    font-size: 18px;
}

.footer-parent-div {
    margin-top: 300px;
}

.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.github-icon:hover {
    transform: scale(1.4);
    transition: transform 2s ease-in-out;
}