.btn-back {
    background-color: goldenrod;
    color: black;

}

@media only screen and (max-width: 520px) {
    .map {
        width: 90% !important;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .map {
        width: 100% !important;
    }
}









/* .main-div {
    position: absolute;
    left: 0;
    top: 10;
    width: 100%;
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
}











@keyframes animate {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('../../images/CoxsBazar/C1.jpg');
    }

    10% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/CoxsBazar/C2.jpg');
    }

    20% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/CoxsBazar//Cox2.png');
    }

    30% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/Sreemangal/Sre1.jpg');
    }

    40% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/Sreemangal/Sre2.jpg');
    }

    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/Shun1.jpg');
    }

    70% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/Shun2.jpg');
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/CoxsBazar/C1.jpg');
    }
}


@media only screen and (min-width: 401px) and (max-width: 578px) {
    .main-div {
        height: 2450px;
    }
}

@media only screen and (min-width: 830px) and (max-width: 999px) {
    .main-div {
        height: 950px;
    }
}

@media only screen and (max-width: 400px) {
    .main-div {
        height: 2450px;
    }
}

@media only screen and (min-width: 579px) and (max-width: 990px) {
    .main-div {
        height: 2350px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-div {
        height: 1430px;
    }
} */